  <div class="status-page">
    <div class="container">
      <div class="row header">
        <h3>Current Visitors</h3>
        <p>A quick summary of all visitors</p>
      </div>




      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default modules">
            <ul class="list-group">
              <% @visitors.each do |visitor| %>
              <li class="list-group-item">
                  <%= link_to visitor.name, "visitors/#{visitor.id}" %>

                <div class="status">

                  <%= link_to "Delete", "/visitors/#{visitor.id}", {method: :delete, class: "btn btn-danger" }%>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
          <a href="visitors/new" class="button">Add Visitors</a>


        </div>
      </div>
  </div>