<h3>Check in</h3>

<% if @listed_participant.check_in %>
  <h6>Check in time: <%= @listed_participant.check_in %> </h6>
<% end %>

<h4>  <%= @listed_participant.event.name %> </h4>
<h4> <%= @listed_participant.visitor.name %> </h4>
<%= button_to "Check In", "/participants/#{@listed_participant.id}", method: :patch %>