  <div class="pricing-dark-section">
    <div class="container">
      <div class="row header">
        <h3>Free trial. No contract. Cancel when you want.</h3>
        <p>All plans include a 7-day free trial</p>
      </div>
  </div>



 




  <div class="blog-cols-wrapper">
    <div class="container">


      <% @events.each do |event| %>
        <a href=<%="/events/#{event.id}"%> class="card">
          <div class="card-wrapper">
            <div class="card-bg" style="background-image: url('images/bgs/photo-1478059425650-ca13d6d422f4.jpeg');">
            </div>
            <div class="card-intro">
              <div class="card-title">
                <%= "#{event.name}" %>
              </div>
              <div class="card-min-read" >
              <br>
                Event start: <%= event.start_time.strftime("%B %e, %Y") %>
              </div>

              <p class="card-description" style="overflow-y: scroll; height:400px;"" >
                <%= event.description %>
              </p>
            </div>
          </div>
        </a>
      <% end %>

    </div>
  </div>





  <nav class="blog-pager">
    <ul class="pager">
      <li><a href="#">&larr; Previous</a></li>
      <li><a href="#">Next &rarr;</a></li>
    </ul>
  </nav>