  <div class="blog-cols-header">
    <div class="container">
      <h1>
        Event Index
      </h1>
      <p>
        An overview of all events and their start times
      </p>
    </div>
  </div>




  <div class="blog-cols-wrapper">
    <div class="container">


      <% @events.each do |event| %>
        <a href=<%="/events/#{event.id}"%> class="card">
          <div class="card-wrapper">
            <div class="card-bg" style="background-image: url('images/bgs/photo-1478059425650-ca13d6d422f4.jpeg');">
            </div>
            <div class="card-intro">
              <div class="card-title">
                <%= "#{event.name}" %>
              </div>
              <div class="card-min-read">
                Event start: <%= event.start_time %>
              </div>
              <p class="card-description">
                React has both a web app and an android app to make your website easy and always available.
              </p>
            </div>
          </div>
        </a>
      <% end %>

    </div>
  </div>





  <nav class="blog-pager">
    <ul class="pager">
      <li><a href="#">&larr; Previous</a></li>
      <li><a href="#">Next &rarr;</a></li>
    </ul>
  </nav>